@import '~bootstrap/scss/bootstrap';

body {
    display: flex; 
    flex-direction: column;
    background-color: #0d6dfd25;
}

label > input[type="radio"] {
  display: none;
}
label > input[type="radio"] + *::before {
  content: "";
  display: inline-block;
  vertical-align: bottom;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}
label > input[type="radio"]:checked + * {
  color: teal;
}
label > input[type="radio"]:checked + *::before {
  background: radial-gradient(teal 0%, teal 40%, transparent 50%, transparent);
  border-color: teal;
}
.white-btn {
    color: white
}

.navbar-brand {
    color:rgb(255, 255, 255)
}

#top-nav {
    background-color: #4b93ff;
}

// Authentication form styling
.signup-form-group {
    margin: 7px 0
}
.form-label {
    margin: 0 5px;
    display: block;
}
#signed-in-badge {
    margin: auto;
}

// Non-board game element styling
#game-section {
    justify-content: center;
    margin-top: 50px;
    //position: absolute;
    align-content: center;
    //left: 50%;
    //transform: translate(-50%, 0);
    order: 0
}

#button-div {
    justify-items: center;
    margin-left: 43%;
    //position: relative;
    //left: 50%;
    //transform: translate(-25%, 0);
}

// Container of board spaces


#game-board {
    // Double-check necessity given .container rules
    margin: 0 0 0 3px;
}
.game-container{
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 10%);
	width: 450px;
    height: 450px;
    margin: 0;
    padding: 0;
}

.alerts-container {
    background-color: rgba(156, 156, 156, 0.281);
    //order: 5;
    //align-self: flex-end;
    //display: block;
    position:absolute;
    width:720px;
    top:660px;
    left:25%;
    border-radius: 10px;
    border-style:unset;
    transition: visibility 0.5s;
    transition: all 0.5s linear;
}

.alert {
    margin-top: 10px;
    margin-bottom: 10px;
}

// Whole-board styling for ties & prior to game start
.tie {
    background-color: rgba(224, 224, 224, 0.657);
    pointer-events: none;
    border-radius: 25px;
}
.start-game {
    background-color: rgba(255, 87, 87, 0.657);
    pointer-events: none;
    border-radius: 35px;
}

// Board spaces styling
.box{
	float: left;
	width: 150px;
	height: 150px;
	border: 2.5px solid $secondary;
	font-size: 125px;
	text-align: center;
	line-height: 145px;
    margin: 0;
    padding: 0;
}
.container .box:hover {
	background: #0d6dfda9;
	color: white;
}
.win-position {
    background-color: rgba(19, 219, 19, 0.657);
    pointer-events: none;
}

// Individual box border styling
#box0 {
    border-left: 0; 
    border-top: 0;
    border-radius: 35px 0 0 0;
}
#box1 {
    border-top: 0
}
#box2 {
    border-top: 0; 
    border-right: 0;
    border-radius: 0 35px 0 0;
}
#box3 {
    border-left: 0
}
#box5 {
    border-right: 0
}
#box6 {
    border-left: 0; 
    border-bottom: 0;
    border-radius: 0 0 0 35px;
}
#box7 {
    border-bottom: 0
}
#box8 {
    border-right: 0; 
    border-bottom: 0;
    border-radius: 0 0 35px 0;
}
